<%= render :partial => 'layouts/materias' %>

<div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-plus fa-fw"></i>Agregar Materia</h3>
                </div>
                <div class="panel-body">
                    <center>
                    <div id="morris-area-chart">
                        <%= render 'form' %>
                    </div>
                    </center>
                </div>
            </div>
        </div>
</div>

<%= link_to subjects_path+"/" do %>
    <i class="fa fa-arrow-left fa-fw"></i> Atras
<% end %> |
<%= link_to 'Show', @subject %> 

